$font-size-title: 64px;
$font-size-subtitle: 48px;
$font-size-base-xl: 42px;
$font-size-base-l: 36px;
$font-size-base-md: 32px;
$font-size-base-m: 24px;
$font-size-base-sm: 20px;
$font-size-base-xs: 16px;
$font-size-base-2xs: 14px;

$primary-color:#AA0601;
$secondary-color:#650300;
$thirdly-color: #FBF2F2;

$primary-text-color: #000;
$secondary-text-color: #DEE2E6;

$primary-bdr-color: #00000020;
$secodary-bdr-color: #DCDCDC;

$option-color-1:#5F3E2D;
$option-color-2:#B75929;