.pagination-admin{
    .page-arrow{
        padding: 6px 6px 0;
    }
}

.modal-content{
    .img-border{
        width: 140px;
        height: 140px;
        overflow: hidden;
        margin-right: 24px;
        position: relative;
        img{
            width: 150%;
            position: absolute;
            top: 0;
            left: -25%
        }
    }
    .modal-info{
        width: 70%;
        h3{
            font-size: $font-size-base-m;
        }
        small{
            font-size: $font-size-base-2xs;
            line-height: 24px;
            color: #6C757D;
        }
        .dropdown-toggle{
            display: flex;
            justify-content: space-between;
            align-items: center;
            &::after{
                color: #198754;
            }
        }
        .btn{
            padding: 4px 8px;
            font-size: $font-size-base-2xs;
        }
        .selection{
            .btn{
                padding: 8px 32px;
                font-size: $font-size-base-xs;
            }
        }
    }
}