.sub-header{
    width: 77%;
}

.navbar{
    padding: 32px;
    .navbar-brand{
        font-size: $font-size-base-m;
        font-weight: bold;
        margin-right: 50px;
    }
    .nav-link{
        font-weight: bold;
    }
    .dropdown-toggle{
        &:after{
            color:#198754;
        }
    }
    .navbar-icon{
        padding-top: 8px;
        padding-bottom: 2px;
        .last{
            margin-left: 24px;
        }
    }
}

.content{
    padding: 0 32px;
    .sidemenu-toggle{
        width: 34%;
        .dropdown-toggle{
            &:after{
                color:#198754;
            }
        }
        .collapse{
            .list-group{
                p{
                    font-size: 12px;
                }
                small{
                    font-size: 12px;
                }
                h3{
                    font-weight: bold;
                }
                .list-group-item{
                    padding: 12px
                }
            }
        }
    }
}
.message{
    width: 66%;
    small{
        font-size: 12px;
    }
    .card-header{
        padding: 12px;
        .topic{
            p{
                font-size: 12px;
            }
            h3{
                font-weight: bold;
            }
        }
        a{
            color: #212529;
        }
    }
    .card-body{
        .avatar{
            width: 40px;
            height: 40px;
            overflow: hidden;
        }
        .avatar-info{
            h4{
                font-weight: bold;
            }
            span{
                font-size: 12px;
            }
        }
        .text-content{
            p{
                width: 480px;
            }
        }
    }
}

.bottom-area{
    .pagination{
        li a{
            display: block;
            padding: 6px 12px 0;
            color: #212529;
        }
    }
    .reply{
        .btn{
            padding: 8px 32px;
            font-weight: bold;
        }
    }
}

